* {
  margin: 0;
  padding: 0;
  font: sans-serif;
}

header {
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  height: 4rem;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 280px;
  height: 280px;
}

nav ul{
  padding-right: 2.5rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: orangered;
}

.info-container {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.info {
  justify-content: center;
  padding: 0rem 2rem;
}

.info h1 {
  margin-top: 10rem;
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
}

.menu {
  display: none;
  padding: 0.5rem;
  margin-right: 30px;
}

.menu img {
  width: 30px;
  cursor: pointer;
  height: 30px;
}


.dropDown-menu{
  position: absolute;
  display: none;
  height: 0;
  right: 2rem;
  top: 80px;
  width: 300px;
  background-color: rgb(000, 000, 000, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropDown-menu.open{
  height: 420px;
}

.dropDown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: left;
  justify-content: left;
  
}

.dropDown-menu li a{
  color: #fff;
  list-style: none;
  text-decoration: none;
}


span {
  color: orangered;
}

.info p {
  font-size: 18px;
}

.info a {
  background-color: #212121;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.images-container {
  background-color: aquamarine;
  padding: 10rem 14rem;
  background-image: url(./images/286628593_1024960835079609_5752186755500087283_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  border-radius: 4px;
  background-position: center;
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 8rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}


@media only screen and (min-width: 381px) and (max-width: 400px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 8.6rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 401px) and (max-width: 430px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 9rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 431px) and (max-width: 486px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 11rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 487px) and (max-width: 520px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 11.6rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}


@media only screen and (min-width: 521px) and (max-width: 600px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 13.9rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 15rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 17rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 17rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 19.5rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}

@media only screen and (min-width: 801px) and (max-width: 920px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    left: 2rem;
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 22.5rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}


@media only screen and (min-width: 921px) and (max-width: 1100px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  .dropDown-menu{
    display: block;
    /* left: 2rem; */
    width: unset;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 26.5rem;
  }
  .info{
    padding: 0;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 15px;
  }
  .info a {
    font-weight: inherit;
  }
}



