* {
  margin: 0;
  padding: 0;
  font: sans-serif;
}

header {
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  height: 4rem;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 280px;
  height: 280px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover {
  color: orangered;
}

.info-container {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.info {
  justify-content: center;
}

.info h1 {
  margin-top: 10rem;
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
}

.menu {
  /* background-color: aqua; */
  display: none;
  padding: 0.5rem;
  margin-right: 30px;
}

.menu img {
  width: 30px;
  cursor: pointer;
  height: 30px;
}

span {
  color: orangered;
}

info p {
  color: #555;
  line-height: 22px;
}

.info a {
  background-color: #212121;
  text-decoration: none;
  padding: 10px 18px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.images-container {
  background-color: aquamarine;
  padding: 10rem 14rem;
  background-image: url(./images/286628593_1024960835079609_5752186755500087283_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  border-radius: 4px;
  background-position: center;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
  nav ul li {
    display: none;
  }
  .menu {
    display: block;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .images-container {
    padding: 8rem;
  }
  .info h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
  }
  .info p {
    font-size: 13px;
  }
  .info a {
    font-weight: inherit;
  }
}
